# プロジェクトガイドライン

## Development


# ビジネスロジックの書き方

以下にビジネスロジックの書き方について記述する。
```ts
// user.ts
interface User {
  firstName: string;
  lastName: string;
  middleName?: string;
}

export const getFullName = (user: User): string => {
  if (user.middleName) {
    return `${user.firstName} ${user.middleName} ${user.lastName}`;
  }
  return `${user.firstName} ${user.lastName}`;
};
```

以下にこのビジネスロジックのテストを記述する。
```ts
// user.test.ts
import {describe, expect, it} from 'vitest';
import {getFullName} from './user';

describe('getFullName', () => {
  it('should return full name', () => {
    const user = {
      firstName: 'John',
      lastName: 'Doe',
    };
    expect(getFullName(user)).toBe('John Doe');
  });

  it('should return full name with middle name', () => {
    const user = {
      firstName: 'John',
      middleName: 'Smith',
      lastName: 'Doe',
    };
    expect(getFullName(user)).toBe('John Smith Doe');
  });
});


## Documentation


# ドキュメント要件

- APIに関するドキュメントはOpenAPI仕様書で記述すること
- TypeScriptのコードにはJSDocを記述すること


## Uncategorized

# ESLintの設定

- TypeScriptのコードに対しては`@typescript-eslint`を使用すること
- ルールの設定は`.eslintrc.js`に記述すること
- ルールの設定は可能な限り厳格にすること
- ルールはFlatConfigを使用して設定すること


